parameters:
    ignoreErrors:
        -
            message: "#^Unsafe usage of new static\\(\\)\\.$#"
            count: 1
            path: src/Notifications/Slack.php
        -
            message: "#^Unsafe usage of new static\\(\\)\\.$#"
            count: 2
            path: src/Models/DeveloperLog.php
        -
            message: "#^Unsafe usage of new static\\(\\)\\.$#"
            count: 1
            path: src/Dtos/DevLogDto.php
        -
            message: "#^Unsafe usage of new static\\(\\)\\.$#"
            count: 3
            path: src/Dtos/DevNotificationDto.php
        -
            message: "#^Call to static method startRecording\\(\\) on an unknown class Laravel\\\\Telescope\\\\Telescope\\.$#"
            count: 1
            path: src/Telescope/TelescopeException.php
        -
            message: "#^Call to static method recordException\\(\\) on an unknown class Laravel\\\\Telescope\\\\Telescope\\.$#"
            count: 1
            path: src/Telescope/TelescopeException.php
        -
            message: "#^Call to static method make\\(\\) on an unknown class Laravel\\\\Telescope\\\\IncomingExceptionEntry\\.$#"
            count: 1
            path: src/Telescope/TelescopeException.php
        -
            message: "#^Call to static method get\\(\\) on an unknown class Laravel\\\\Telescope\\\\ExceptionContext\\.$#"
            count: 1
            path: src/Telescope/TelescopeException.php
